#home_page_properties_container h1 {
  color: #014235;
  text-align: center;
  font-family: "Antic Didone";
  font-weight:500;
  font-style: normal;
  letter-spacing: .5rem;
}

#home_page_properties_container {
  height: auto;
  background-color: #EAEEFB;
  padding: 40px 20px;

}

#home-prop-image-container{
  position: relative;
}

#property_showcase_text {
  text-align: center;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5rem;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.property-list-wrapper {
  padding: 20px 0;
}

.property-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.property {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff, hsla(171, 29%, 69%, 0.349));
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 1px 8px #0b3a2d;
    margin: 0.5rem auto;
    transition: transform 0.3s;
    width: 90%;
    padding: 0.5rem;
}

#home_property_image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


.property_info {
  height: 50%;
}

.property_info_header {
  text-align: center;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  color: #2a7a3d;

}
/* 
#home_property_image:hover{
  transform: scale(1.05);
  transition: .3s ease-in-out;
}
 */
.property:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px #295943;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.property_info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1b5e20;
  font-size: 2.5rem;
}

.home_info_content_labels{
  font-weight:700;
}

.property_info_content a:hover {
  text-decoration: underline;
}

#home-property-link {
  font-size: 1.3rem;
  margin: 0;
  color: #014235;
  font-weight: 600;
  text-decoration: none;
  
}

#home_property_city:hover {
  text-decoration: underline;
}

#home_property_street {
  font-size: 1rem;
  margin: 0;

}

#home_property_price {
  font-size: 1.3rem;
  margin: 0;
}


@media (max-width: 1250px) {


  .property-list-wrapper {
    height: inherit;
  }

}

@media (max-width: 950px) {

  #home_page_properties_container h1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



@media (max-width: 900px) {

  .property_info {
    margin-bottom: 3rem;
  }

  .property-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .property {
    border-left: none;
  }

  .property-list-wrapper {
    padding-bottom: 0;
  }

}


@media (max-width: 750px) {
  #home_page_properties_container h1 {
    margin-bottom: 0;
  }

  #home-property-image{
    object-fit: cover;
  }
  
  .property_info {
    margin-bottom: 0;
    height: auto;
  }

  .property-list {
    display: flex;
    flex-direction: column;
  }

  .property {
    justify-content: center;
    border-bottom: 1px solid #1b5e20;
    display: block;
  }

}

@media (max-width: 650px) {
  #home_page_properties_container h1 {
/*     font-size: 3rem; */
    letter-spacing: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

@media (max-width: 600px) {
  #home_page_properties_container {
    height: auto;
  }

  .property-list {
    display: flex;
    flex-direction: column;
  }

  .property_info {
    margin-bottom: 0;
  }

  .home_page_property_images {
    height: 60%;
    width: 100%;
  }
}
