#expertise_page_break {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#expertise_section {
  padding: 40px 20px;
}

#our_expertise_section_header {
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5rem;
  font-size: 2.5rem;
  color: #014235;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  text-align: center;
}

.expertise_container {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  grid-gap: 1rem;
  width: 100%;
}

.expertise_box {
    background: linear-gradient(to bottom, #ffffff, hsla(171, 29%, 69%, 0.349));
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 1px 8px #0b3a2d;
    margin: 0.5rem auto;
    transition: transform 0.3s;
    width: 90%;
    padding: 0.5rem;
}

.expertise_box:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 12px #295943;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.expertise_box_header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  text-decoration: underline 1px;
  text-underline-offset: .4rem;
  align-self: baseline;
  color: #014235;
  font-weight: 600;

}

.expertise_box_text {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-family: "Albert Sans", sans-serif;
  font-style: normal;
  color: #1b5e20;
}

.book_now_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2a7a3d;
  color: #EAEEFB;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

/* .book_now_button:hover{
  background-color: #1e8d1e;
}
 */


















/* -------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 750px) {
  .expertise_container {
        display: flex;
        flex-direction: column;
  }

  #expertise_section {
    clip-path: none;
    padding-top: 0;
  }

  .experise-box{
    display: flex;
    flex-direction: column;
  }

  .expertise_box_header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .expertise_box_text {
    margin-bottom: 20px;
    text-align: center;
  }
  .book-now-button{
    align-self: center;
  }
}

@media (max-width: 650px) {
  #our_expertise_section_header {
    letter-spacing: .2rem;
  }

}
