#expertise_page_break {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#expertise_section {
  text-align: center;
  padding: 10%;
  background-color: #0b3a2d;
  color: #d1c6a8;
  clip-path: polygon(50% 10%, 70% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0 100%, 0 0, 30% 0);
  margin-top: 4rem;
}

#expertise_section h1 {
  font-size: 4rem;
  font-family: 'Serif';
  margin-bottom: 50px;
  font-weight: bolder;
}

.expertise_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.expertise_box {
  /* display: grid;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  border: 1px solid #d1c6a8;
  padding: 20px;
  width: 30%;
  margin: 10px;
  box-sizing: border-box;
  height: 30rem;
  align-items: center;
} 

.expertise_box h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.expertise_box p {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book_now_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2a7a3d;
  color: #d1c6a8;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
  width: 80%;
}




















/* -------------------------------------------------------------------------------------------------------------------------------*/



@media (max-width: 1500px) {
  #expertise_section h1 {
    padding-top: 3rem;
  }

  .expertise_box h2 {
    font-size:1.8rem;
    margin-bottom: 10px;
  }
  
  .expertise_box p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}





@media (max-width: 900px) {

  #expertise_section{
    padding-top: 10rem;
  }
  #expertise_section h1 {
    padding-top: 4rem;
  }
}


@media (max-width: 750px) {
  #expertise_container {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
  }

  .expertise_box {
    width: 100%;
  }

  
  .expertise_box h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .expertise_box p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}