#agent_profile_section {
  padding: 50px;
  background-color: #295943;
  color: #EAEEFB;
  clip-path: polygon(51% 0, 70% 0, 100% 0, 100% 100%, 70% 100%, 50% 88%, 30% 100%, 0 100%, 0 0, 30% 0);

}

.agent_profile_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7rem;
  /* grid-gap: 1rem; */
}

.agent_info {
  flex: 1;
}

.agent_info h1 {
  font-size: 4.5rem;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5rem;
  margin-bottom: 2rem;
}

.agent_info p {
  font-family: "Albert Sans", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px;
  word-spacing: .5rem;
  padding-right: 5rem;
}

.agent_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid #EAEEFB 1px;
  height: -webkit-fill-available;
  padding-left: 5rem;
}

.agent_image img {
  width: 100%;
  border: 10px solid #EAEEFB;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

}

@media (max-width: 1350px) {

  .agent_info h1 {
    font-size: 4rem;

  }

  .agent_info p {
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {

  .agent_info h1 {
    font-size: 2.5rem;

  }

  .agent_info p {
    font-size: .8rem;
  }
}



@media (max-width: 1000px) {

  .agent_info h1 {
    font-size: 2.5rem;
  }

  .agent_image {
    padding-left: 3rem;
  }

  .agent_profile_container {
    grid-gap: 0;
  }

  .agent_info p {

    font-size: 1rem;

  }


}

@media (max-width: 900px) {
  .agent_info h1 {
    font-size: 2rem;
  }

  .agent_info p {

    font-size: .7rem;

  }
}


@media (max-width: 750px) {
  .agent_profile_container {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 1rem;
  }

  .agent_image {
    margin-bottom: 5rem;
    border: none;
    margin: 0;
    padding-left: 0;
  }

  .agent_info h1 {
    font-size: 3rem;
    text-align: center;
  }

  .agent_info p {
    padding-right: 0;
    font-size: 1em;
  }

  #agent_profile_section {
    clip-path: none;
  }


}



@media (max-width: 450px) {


  .agent_info h1 {
    font-size: 2rem;


  }

  .agent_info p {

    font-size: .8em;

  }
}