#testimonials_section {
    display: flex;
    justify-content: space-between;
    height: 30rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;


  }
  
  .testimonial_item {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #e5d9b9;
    border-left: 2px solid #1b5e20;
  }
  
  .testimonial_item .quote {
    font-size: 3rem;
    color: #1b5e20;
    margin: 0;
  }
  
  .testimonial_text {
    font-size:1.3em;
    color: #967b59;
    margin: 20px 0;
    line-height: 1.6;
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
  }
  
  .author {
    font-weight: bold;
    font-size: 1em;
    color: #344e41;
  }




@media (max-width: 900px) {
  .testimonial_item .quote {
    font-size: 2rem;
  }
    
  .testimonial_text {
    font-size: 1rem
  }
  
}

@media (max-width: 750px) {
  #testimonials_section {
    flex-direction: column;
    height: auto;
    margin-top: 0;

 
  }

  .testimonial_item {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #e5d9b9;
    border-left: none;
    border-bottom: 5px solid #1b5e20;
  }
  
  .testimonial_item .quote {
    font-size: 3rem;
  }
    
  .testimonial_text {
    font-size: 1.3rem
  }
  
}

@media (max-width: 650px) {

  .testimonial_item .quote {
    font-size: 2rem;
  }
    
  .testimonial_text {
    font-size: 1rem
  }
  
}