#agent_profile_section {
  padding: 3rem;
  background-color: #295943; /* Green background */
  color: #EAEEFB;
  clip-path: polygon(51% 0, 70% 0, 100% 0, 100% 100%, 70% 100%, 50% 88%, 30% 100%, 0 100%, 0 0, 30% 0);
}

.agent_profile_container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Even columns for text and image */
  align-items: center; /* Center items vertically */
  margin-bottom: 7rem;
  gap: 2rem; /* Space between the grid items */
}



.agent_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;/* Border specifically between bio and image */
  padding-left: 2rem; /* Add padding for spacing */
  width: fit-content;
  padding-left: 5rem;
}

#home-agent-info-header{
    font-family: "Antic Didone";
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 0;
}

.home-agent-info-text{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
}
.agent_image img {
  width: 100%; /* Responsive width */
  max-width: 300px; /* Max width for larger screens */
  border: 10px solid #EAEEFB;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .agent_profile_container {
      grid-template-columns: 1fr; /* Stack elements on smaller screens */
  }

  .agent_image {
    width: 100%;
      border-left: none; /* Remove border on smaller screens */
      padding-left: 0; /* Reset padding */
      padding-top: 1rem; /* Add top padding for spacing */
      padding-left:0;
  }

  .agent_info {
      text-align: center; /* Center text on smaller screens */
      grid-row:2;
  }
}


@media (max-width: 750px) {
  #agent_profile_section {
    clip-path: none;
  }
  .agent_profile_container {
    margin-bottom: 0;
}
}