body{
    background-color: #A09D6E;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/* Navbar Styles */
#navbar_container{
    background-color: #295943;
    margin: 0;
    position: absolute;
    display: flex;
    height: 8%;
    top: 0;
    width: 100%;
    left: 0;
    align-items: center;
    padding: 0 1rem; 
}

#logo {
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo > img {
    width: 11rem;
    height: 5rem;
}

#navbar_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; 
}

.navbar_item > a {
    color:#dddddd;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
}

.navbar_item > a:hover {
    color: black;
    transform: scale(1.2);
    text-shadow: 0 0 5px #fff;
}

/* Home Page Styles */
#home_page_container{
    background-color: green;
}

#bannerIMG{
    object-fit: cover;
    object-position: center;
    width: 100%;
}



/* Properties Page Styles */
#properties_page_container{
    background-color: green;
}

/* About Page Styles */
#about_page_container{
    background-color: green;
}

/* Contact Page Container */
#contact_page_container{
    background-color: #014235;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#contact_us_header{
    color: #A09D6E;
    margin: 10px;
}

#contact_form_container{
    margin-bottom: 1rem;
    overflow:hidden;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}

#contact_us_form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

#contact_form_container{
    margin-bottom: 1rem;
    overflow:hidden
}

#form_grouping{
    display: grid;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.form_group {
    margin-bottom: 15px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #A09D6E;
}

.form_group input, 
.form_group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

#message{
    padding: 1rem;
}

.form_group input:focus, 
.form_group textarea:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
#footer_container{
    background-color: #A09D6E;
    margin: 0;
    position: absolute;
    display: flex;
    height: 10%;
    justify-content: center;
    bottom: 0;
    width: 100%;
    left:0px;
}

@media (max-width: 400px) {
    /* Add responsive styles here */
}

@media (min-width: 400px) {
    #contact_us_header{
        font-size: 3rem;
    }
}
