body {
  background-color: #ffffff;
  padding: 0;
  overflow-y: auto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}



/****************************************** Button Styles ************************************/
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Footer Styles */
footer {
  background-color: #274e13;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  width: 100%;
}

.footer-left h1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  font-size: 2rem;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  text-align: left;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
  color: aliceblue;
}



@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }

}





@media (max-width: 450px) {
  body {
    width: min-content;
  }

  .footer-left h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    font-size: 1.5rem;
  }
}