.about_page_container{
  background-color: #0b3a2d;
}
.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  /* background-color: #0b3a2d;
  color: #fff; */
}

.team-section {
  flex-direction: row-reverse;
}

.about-us-text {
  width: 50%;
  color: #fff
}

.aboutIMG img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
  border: 3px solid #ddd;
}

.about-us-image img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  margin-left: 10%;
  border: 3px solid #ddd;
}

.about-us-text h2 {
  font-size: 2.2rem;
  color: #ddd;
  margin-bottom: 1rem;
}

.about-us-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ddd;
}

.our-team-section {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.our-team-section h2 {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.our-team-section p {
  font-size: 1.5rem;
  color: #333;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 3rem;
}

.team-portraits {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.portrait img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portrait img:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.team-description {
  display: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #333;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.team-description.show {
  display: block;
  opacity: 1;
  height: auto;
}
.team-description p {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}
.portrait p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}