#contact_page_container {
  background-color: #014235;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

#contact_form_container {
  overflow: hidden;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #155e49;
  border-radius: 1.5rem;
}

#contact_us_header {
  margin-top: 3rem;
  font-size: 3rem;
  color: #dddddd;
  font-family: "Albert Sans", sans-serif;
  font-weight: 100;
  font-style: normal;

}

#contact_us_form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#contact_us_form_grouping {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#contact_us_form_name_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.contact_us_form_group {
  margin-bottom: 15px;
  width: 100%;
}

.contact_us_form_group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
}

.contact_us_form_group input,
.contact_us_form_group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #cbecc6;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: rgba(144, 141, 141, 0.637);

}

#message {
  padding: 1rem;
  width: 100%;
  resize: vertical;
}

.contact_us_form_group input::placeholder {
  color: #dad8b1;
}

.contact_us_form_group textarea::placeholder {
  color: #dad8b1;
}

.contact_us_form_group input:focus,
.contact_us_form_group textarea:focus {
  border-color: #014235;
  border-width: 3px;
}

.form-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

#contact_form_submit_button {
  width: 100%;
  padding: 12px;
  background-color: #2a7a3d;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #d1c6a8;

}

#contact_form_submit_button:hover {
  background-color: #073528;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */



@media (max-width: 750px) {
  #contact_us_form_name_group {
    display: flex;
    flex-direction: column;
  }

}


/* ------------------------------------------------ */

@media (max-width: 650px) {
  #contact_us_header {
    font-size: 2rem;
    margin-top: 1rem;
  }

  #contact_us_form_grouping {
    gap: 0;
    margin-bottom: .5rem;
  }

  .contact_us_form_group {
    margin-bottom: .5rem;
  }
}



/* ------------------------------------------------ */

/* 
@media (min-width: 600px) {
  #contact_us_form_button_container {
    display: flex;
    justify-content: center;
  }

  #contact_form_submit_button {
    width: 30%;
  }
}
 */



/* ------------------------------------------------ */

/* 
@media (min-width: 1000px) {
  #contact_us_form_button_container {
    display: flex;
    justify-content: center;
  }

  #contact_form_submit_button {
    width: 30%;
  }
} */



/* ------------------------------------------------ */

/* 
@media (min-height: 799px) {

  #contact_page_container {
    height: 100%;
  }
} */


/* ------------------------------------------------ */

/* 
@media (min-height: 1100px) {
  #contact_form_container {
    height: 70%;
    width: 70%;
  }
} */