#contact_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100vw;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  height: fit-content;
}

#contact_form_container {
  overflow: hidden;
  width: 85%;
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: #155e49;
  border-radius: 2rem;
  height: 100%;


}

#contact_us_header {
  margin-top: 0;
  font-size: 5rem;
  color: #EAEEFB;
  font-family: "Albert Sans", sans-serif;
  font-weight: 100;
  font-style: normal;

}

#contact_us_form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


#contact_us_form_grouping {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#contact_us_form_name_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.contact_us_form_group {
  margin-bottom: 15px;
  width: 100%;
}

.contact_us_form_group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #EAEEFB;
  font-family: "Antic Didone";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.contact_us_form_group input,
.contact_us_form_group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #155e49;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #EAEEFB;

}

#message {
  padding: 1rem;
  width: 100%;
  resize: vertical;
}

.contact_us_form_group input::placeholder {
  color: #155e49;
}

.contact_us_form_group textarea::placeholder {
  color: #155e49;
}

.contact_us_form_group input:focus,
.contact_us_form_group textarea:focus {
  border-color: #014235;
  border-width: 3px;
}

.form-error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

#contact_form_submit_button {
  width: 100%;
  padding: 12px;
  background-color: #2a7a3d;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #EAEEFB;

}

#contact_form_submit_button:hover {
  background-color: #073528;
}



/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */



@media (max-width: 750px) {

  #contact_us_form_name_group {
    display: flex;
    flex-direction: column;
  }



  .contact_us_form_group label {
    font-size: 1.1rem;
  }

}


/* ------------------------------------------------ */

@media (max-width: 650px) {

  #contact_form_container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #contact_us_header {
    font-size: 4rem;
    margin-top: 1rem;
  }

  #contact_us_form_grouping {
    gap: 0;
    margin-bottom: .5rem;
  }

  .contact_us_form_group {
    margin-bottom: .5rem;
  }
}

@media (max-width: 500px) {
  
  #contact_us_header {
    font-size: 3rem;

  }

  #contact_us_form_button_container {
    margin-bottom: 3rem;
  }
}

@media (max-width:360px) {
  
  #contact_us_header {
    font-size: 2rem;

  }

}