footer {
  background-color: #073528;
  color: white;
  font-size: 1em;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.footer-left h1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
  font-size: 1.8rem;
  color: #EAEEFB;
}

.footer-left {
  font-family: "Antic Didone";
  font-weight: 100;
  font-style: normal;
  padding-left: 3rem;
}

#footer_right_container {
  justify-content: right;
  display: flex;
}

.footer-right {
  display: flex;
  justify-content: end;
  column-gap: .3rem;
  text-align: left;
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  font-family: "Albert Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding-right: 3rem;
}

.footer_contact_text {
  width: max-content;
}

.footer_contact_link {
  text-underline-offset: .4rem;
  color: #EAEEFB;
  font-weight: 200;
}


.footer-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #EAEEFB;
  padding-right: 1rem;
  width: inherit;
  font-weight: 500;
}


.footer-item i {
  color: #2a7a3d;
  font-weight: 800;
}

.footer-item a {
  width: max-content;
  font-weight: 500;
}


.footer-icon {
  width: 20px;
  height: 20px;
}


@media (max-width: 1250px) {
  .footer-left h1 {
    font-size: 1.5rem;
  }

}


@media (max-width: 1050px) {
  .footer-right {
    font-size: .8rem;
  }


}



@media (max-width: 970px) {
  .footer-left h1 {
    font-size: 1.2rem;
  }

  .footer-right {
    font-size: .7rem;
  }
}


@media (max-width: 870px) {
  .footer-left h1 {
    font-size: 1rem;
  }

  .footer-left {
    padding-left: 1.5rem;
  }

  .footer-right {
    padding-right: 1.5rem;
  }
}


@media (max-width: 750px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }


  .footer-left {
    margin: 0;
    padding: 0;
  }

  .footer-left h1 {
    padding-bottom: .5rem;
    font-size: 2.4rem;
  }


  .footer-right {
    margin: 0;
    padding-left: 1rem;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: .7rem;
  }

  .footer-item {
    gap: .5rem;
    padding-right: 0;
    font-size: .8rem;

  }


  #footer_right_container {
    justify-content: none;
    display: inline;
  }

}


@media (max-width: 650px) {

  .footer-item {
    gap: .5rem;
    padding-right: 0;
    font-size: 1rem;
  }

  #footer_right_container {
    padding-top: 1rem;
    justify-content: center;
    display: flex;
  }

  .footer-right {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }

}




@media (max-width: 550px) {

  .footer-container {
    padding-bottom: 1rem;
  }

  .footer-left h1 {
    font-size: 2rem;
    padding-bottom: .5rem;
  }

  .footer_contact_text {
    margin: .5rem;
  }
}