#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: linear-gradient(to bottom, #ffffff, #2255384b);
  contain: content;
}

/* LIST VIEW */
#property-list-view {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

#property-list-view .property-item {
  height: 400px; /* Set a fixed height for uniformity */
}

#list-container  h1 {
  font-family: "Antic Didone", serif;
  font-size: 2rem;
  color: #0b3a2d;
  margin-bottom: 20px;
  letter-spacing: .2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}



#toggle-view-button{
  /* position: absolute; */
  background-color: #0b3a2d;
  font-family: "Albert Sans", sans-serif;
  font-size: 1.5rem;
  color: #EAEEFB;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#toggle-view-button:hover {
  background-color: #0d4a3b;
  transform: scale(1.05);
  transition: .3s;
}

#filters_container {
  grid-row: 1;
  padding-left: 20px;
  padding-right: 20px;
}

/* PROPERTIES */
#property-list-wrapper {
  width: 100%;
  margin-top: 20px;
  overflow: auto;
  }

#property-list-wrapper::-webkit-scrollbar {
  display: none;

}
#property-list-wrapper {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.property-item {
  display: none;
}

.property-item h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
}

.property-details h2{
  padding: 1rem;
  font-family: "Antic Didone";
  font-size: 2rem;
  color: black;
  margin: 0;
  padding-bottom: 1rem;
}

.property-details h3{
  display: flex;
  justify-content: center;
}

.property-details p{
  display: flex;
  justify-content: center;
}

.property-item {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, hsla(171, 29%, 69%, 0.349));
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  box-shadow: 0 1px 8px #0b3a2d;
  margin: 0.5rem auto; 
  transition: transform 0.3s;
  width: 90%;
  padding: 0.5rem;
}

.property-item h2 {
  color: #0b3a2d;
  font-size: 1rem; 
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
  padding-left: 0.5rem; 
}


.property-item-wrapper {
  position: relative;
}


.property-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.property-image img {
  width: 100%;
  height: 150px; 
  object-fit: cover;
  border-radius: 8px;
}

.property-details {
  padding: 0.5rem; 
  font-family: Arial, sans-serif;
}

.property-details h3 {
  font-size: 1.2rem; 
  font-weight: bold;
  color: #000;
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
}

.property-details p {
  font-size: 0.8rem; 
  color: #333;
  margin: 0.2rem 0;
  display: flex;
  justify-content: center;
}

.property-details p.agent-info {
  color: gray;
  font-size: 0.7rem; 
  margin-top: 5px;
  font-style: italic;
  display: flex;
  justify-content: center;
}


#move_to_property_link {
  font-size: 0.8rem;
  color: #007bff;
  text-align: center;
  margin-top: 5px;
}

#move_to_property_link:hover {
  text-decoration: underline;
}


.property-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px #0b3a2d;
}

#property-list {
  contain: content;
  max-height: 80vh;
  overflow-y: auto;
}

.property-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#prev-button, #next-button {
  padding: 10px 15px;
  background-color: #0b3a2d;
  font-family: "Albert Sans", sans-serif;
  font-size: 1rem;
  color: #EAEEFB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-button:hover, #next-button:hover {
  background-color: #1e8d1e;
}

.carousel-indicators {
  text-align: center;
  margin-top: -30px;
  position: relative;
}

.property-details {
  padding: 15px;
  font-family: Arial, sans-serif;
}

.property-details h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}


.property-details p {
  margin: 5px 0;
  color: #333;
}

.property-details p.agent-info {
  color: gray;
  font-size: 12px;
  margin-top: 10px;
  font-style: italic;
}

/* Add dot indicators styling */
.carousel-indicators span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
}

.carousel-indicators span.active {
  background-color: #717171;
}


.property-link {
  color: inherit; 
  text-decoration: none; 
}

.property-link:visited,
.property-link:hover,
.property-link:active,
.property-link:focus {
  color: inherit; 
  text-decoration: none; 
}


#map {
  /* width: 70%; */
  height: 100vh;
  grid-column: 2;
  grid-row: 1 / span 2;
}


/* SHOW MORE PROPERTIES BUTTONS */
#load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#load-more:hover {
  background-color: #0056b3;
}


.price-marker {
  background-color: #00bfa5;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: translate(-50%, -100%);
}

.map-popup {
  display: grid;
  padding: 10px;
  font-family: Arial, sans-serif;
}
.popup-image{
  margin-bottom: 3rem;
  grid-row: 2 / span 3;

}

.popup-title a {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.popup-price {
  color: #666;
  font-size: 14px;
}

.popup-description{
  font-family: "Albert Sans", sans-serif;
  font-size:1rem;
  color: black;
  margin: 0;
}


#filter-button {
  background-color: #0b3a2d;
  font-family: "Albert Sans", sans-serif;
  font-size: 1.5rem;
  color: #EAEEFB;
  border: none;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  
}

#filter-button:hover {
  background-color: #0d4a3b;
  transform: scale(1.05);
  transition: .3s;
}

#filters {
  background-color: #073528;
  padding: 15px;
  border-radius: 10px;
  margin-top: 1rem;
  display: none; 
}

/* #filters.filters-hidden {
    display: none;
}
#filters.filters-visible {
    display: block; /* or flex, depending on your layout */

#filters h3 {
  font-family: "Albert Sans", sans-serif;
  font-size: 1.5rem;
  color: #EAEEFB;
  font-weight: 600;
  font-size:2rem;
  margin-bottom: 15px;
}

#filters label {
  display: block;
  margin-bottom: 5px;
  color: #ecf0f1;
  font-family: "Antic Didone";
}

#filters input {
  width: -webkit-fill-available;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
}

#filters button {
  padding: 10px 15px;
  background-color: #2a7a3d;
  font-family: "Albert Sans", sans-serif;
  font-size: 1rem;
  color: #EAEEFB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: .5rem;
}

#filters button:hover {
  background-color: #1e8d1e;
}

#filters {
  display: none;
}

.filters-visible {
  display: block;
}

#filter_button_container_mobile{
  display: none;
}

#filters_mobile{
  display: none;
}

#filtered-properties-container{
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}


@media (max-width: 750px) {

  #container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #filters_container {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    grid-row:2;
  }
  #property-list{
    height: 100%;
    width: 100%;
    padding: 0;
    grid-row: 3;
  }
  #map{
    height: 50vh;
    grid-row:1;
    grid-column: 1;
  }


  #filters_mobile.filters-visible {
    display: block; 

  }
  
}
