#navbar_container {
  background-color: #EAEEFB;
  margin: 0;
  display: flex;
  height: 8%;
  top: 0;
  width: 100%;
  left: 0;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #EAEEFB;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

#logo {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

#logo>img {
  width: 11rem;
  height: 5rem;

}

#navbar_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

#navbar_items.show {
  height: auto;
  opacity: 1;
}

.navbar_item {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.navbar_item>a {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2a7a3d;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  font-weight: lighter;
  letter-spacing: .1rem;

}

.navbar_item>a:hover {
  color: black;
  transform: scale(1.2);
  text-shadow: 0 0 5px #EAEEFB;
}

#hamburger_menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
  color: #2a7a3d;
}



@media (max-width: 650px) {
  #navbar_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    position: relative;
  }

  #hamburger_menu {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
  }

  #navbar_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #014235;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1001;
    height: 0;
    overflow: hidden;
    row-gap: 1rem;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
  }

  #navbar_items.show {
    height: auto;
    opacity: 1;
  }

  #navbar_items.hide {
    height: 0;
    opacity: 0;
  }

  .navbar_item {
    border-bottom: 1px #2a7a3d solid;
  }

  .navbar_item>a {
    color: #EAEEFB;
  }

  #navbar_items.show {
    display: flex;
  }
}