#navbar_container {
  background-color: #EAEEFB;
  margin: 0;
  display: flex;
  height: 8%;
  top: 0;
  width: 100%;
  left: 0;
  align-items: center;
  z-index: 1000;
  padding-bottom: .5rem;
  padding-top: .5rem;
}


.navbar_item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.navbar_item a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar_item a:hover {
  border-radius: 5px; 
}

.dropbtn {
  font-size: 1.2rem;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
}

.dropbtn:hover {
  background-color: #444;
  border-radius: 5px; 
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  z-index: 1;
}


.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #555
}

.navbar_item.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
}

#logo>img {
  width: 11rem;
  height: 5rem;

}

#navbar_items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-right: 2rem;
}

#navbar_items.show {
  height: auto;
  opacity: 1;
}

.navbar_item {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.navbar_item>a {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2a7a3d;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  font-weight: lighter;
  letter-spacing: .1rem;

}

.navbar_item>a:hover {
  color: black;
  transform: scale(1.2);
  text-shadow: 0 0 5px #EAEEFB;
}

#hamburger_menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
  color: #2a7a3d;
}



@media (max-width: 650px) {
  #navbar_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    position: relative;
  }

  #hamburger_menu {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
  }

  #navbar_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #014235;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1001;
    height: 0;
    overflow: hidden;
    row-gap: 1rem;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    padding: 0;
  }

  #navbar_items.show {
    height: auto;
    opacity: 1;
  }

  #navbar_items.hide {
    height: 0;
    opacity: 0;
  }

  .navbar_item {
    border-bottom: 1px #2a7a3d solid;
  }

  .navbar_item>a {
    color: #EAEEFB;
  }

  #navbar_items.show {
    display: flex;
  }
}