#navbar_container {
  background: linear-gradient(to bottom, #ffffff, hsla(171, 29%, 69%, 0.349));
  border-bottom: #014235 1px solid;
  margin: 0;
  display: flex;
  height: fit-content;
  top: 0;
  width: 100%;
  left: 0;
  align-items: center;
  z-index: 1000;
  padding-bottom: .5rem;
  padding-top: .5rem;
  overflow-x: visible;
}


#navbar_items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  column-gap: 2rem;
}


.navbar_item>a {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  color: #2a7a3d;
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 1rem;
  font-weight: lighter;
  letter-spacing: .1rem;
}

.navbar_item>a:hover {
  color: black;
  transform: scale(1.2);
  text-shadow: 0 0 5px #EAEEFB;
  border-radius: 5px; 
}


.navbar_item {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}


.dropbtn {
  font-size: 1.1rem;
  color: green;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
}

.dropbtn:hover {
  background-color: #444;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color:#0b3a2d;
  min-width: 10px;
  width: max-content;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 5px;
}


.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #555;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#logo {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo>img {
  width: 11rem;
  height: 5rem;

}


#navbar_items.show {
  height: auto;
  opacity: 1;
}


#hamburger_menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
  color: #2a7a3d;
}

@media (max-width: 1000px) {
  #navbar_items{
    column-gap: 0;
  }
  .navbar_item a{
    padding: 0;
  }
}



@media (max-width: 768px) {
  #navbar_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    position: relative;
    overflow-x: visible;
  }

  #hamburger_menu {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
  }

  #navbar_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #014235;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1001;
    height: 0;
    overflow: hidden;
    margin-right: 0;
    row-gap: 1rem;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    padding: 0;
  }

  #navbar_items.show {
    height: auto;
    opacity: 1;
  }

  #navbar_items.hide {
    height: 0;
    opacity: 0;
  }

  .navbar_item {
    border-bottom: 1px #2a7a3d solid;
  }

  .navbar_item>a {
    color: #EAEEFB;
    padding: 1rem;
  }

  #navbar_items.show {
    display: flex;
  }

  .dropdown-content {
    position: relative;
    background-color: #014235; 
    width: 100%; 
    left: 0; 
    top: 0;
    display: none; 
  }
  .dropdown-content a {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #2a7a3d; 
    color: #EAEEFB;
  }

  .dropdown-content a:hover {
    background-color: #0b3a2d;
    color: white;
  }

  .navbar_item.dropdown{
    flex-direction: column;
  }

  .navbar_item.dropdown .dropdown-content.show {
    display: block;
  }


  .dropdown:hover .dropdown-content {
    display: none;
  }



  .dropbtn {
    width: 100%;
    text-align: center;
  }

  .dropbtn:after {
    content: '\25BC'; 
    float: right;
    padding-right: 10px;
  }

  .navbar_item.dropdown .dropdown-content.show {
    display: block; 
  }

}
