body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.property-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Added more gap between sections */
}

/* .property-image{
  width: 100%;
} */


.property-image img {
  width: 30%; /* Adjust the size to make it smaller */
  border-radius: 8px;
}

.property-details {
  text-align: center;
  max-width: 600px; /* Limit the width for better text alignment */
}

.carousel-container {
  position: relative;
  width: 80%; /* Matches the image width */
  overflow: hidden;
  max-width: 800px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  border-radius: 8px;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.property-title, .property-location, .property-price, .property-description {
  margin: 0 0 15px 0;
}

.property-contact {
  margin-top: 20px;
}






.view-details-btn {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  display: block;
  text-decoration: none;
  transition: background-color 0.2s;
}

.view-details-btn:hover {
  background-color: #3498db;
}

.filter-panel {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 20px;
}

.filter-label {
  font-size: 16px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 10px;
}

.sorting-dropdown {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 20px;
}