{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Way Realty</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "scripts.js" %}"></script>   
</head>
<body>

    <div id="navbar_container">
        <div id="navbar_home_link_container" class="navbar_item">
            <a href ="{% url 'home'%}">Home</a>
        </div>
        <div id="navbar_properties_link_container" class="navbar_item">
            <a href ="{% url 'properties'%}">Properties</a>
        </div>
        <div id="navbar_about_link_container" class="navbar_item">
            <a href ="{% url 'about'%}">About</a>
        </div>
        <div id="navbar_contact_link_container" class="navbar_item">
            <a href ="{% url 'contact'%}">Contact</a>
        </div>
    </div>

    
    {% block content %}

    {% endblock content %}
    
    <div id="footer_container">
        <p>Footer Text</p>
    </div>
</body>
</html>