{% load static %} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>Right Way Realty</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\navbar_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\home_stylesheets\home_header_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\home_stylesheets\home_properties_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\home_stylesheets\home_expertise_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\home_stylesheets\home_agent_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\home_stylesheets\home_testimonials_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\properties_page_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\contact_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\about_page_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\maps_styles.css" %}">
    <link rel="stylesheet" href="{% static "stylesheets\footer_styles.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon"  href="{% static "images/favicon.ico" %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Antic+Didone&display=swap" rel="stylesheet">

<script src="{% static "scripts.js" %}"></script>   
</head>
<body>

    <div id="navbar_container">
        <div id="logo">
            <img id="logoIMG" src="{% static "images/RWRLogo.png" %}" alt="Logo">
        </div>
        <div id="hamburger_menu" onclick="toggleNavbar()">
            <i class="fas fa-bars" id="hamburger_icon"></i>
        </div>
        <div id="navbar_items">
            <div class="navbar_item"><a href="{% url 'home'%}">Home</a></div>
            {% comment %} <div class="navbar_item"><a href="{% url 'properties'%}">Properties</a></div> {% endcomment %}
            <div class="navbar_item dropdown">
                <a href="#" class="dropbtn">About</a>
                <div class="dropdown-content">
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'oxford' %}">About Oxford</a>
                </div>
            </div>
            <div class="navbar_item"><a href="{% url 'googlemaps'%}">Properties</a></div>
            <div class="navbar_item"><a href="{% url 'contact'%}">Contact</a></div>
        </div>
    </div>
    </div>
    
    
    {% block content %}

    {% endblock content %}
    
    <body>
        <footer>
            <div class="footer-container">
                <div class="footer-left">
                    <h1>Right-Way Realty</h2>
                </div>
                <div id="footer_right_container">
                    <div class="footer-right">
                        <div class="footer-item">
                            {% comment %} <img src="{% static 'images/mail-icon.png' %}" alt="Mail Icon" class="footer-icon"> {% endcomment %}
                            <i class="fa-regular fa-envelope"></i>
                            <p class="footer_contact_text">april@right-wayrealty.com</p>
                        </div>
                        <div class="footer-item">
                            {% comment %} <img src="{% static 'images/house-icon.png' %}" alt="House Icon" class="footer-icon"> {% endcomment %}
                            <i class="fa-solid fa-house"></i>
                            <p class="footer_contact_text">2008 MS-30 <br>Suite 102, </br>Oxford, MS 38655</p>
                        </div>
                        <div class="footer-item">
                            {% comment %} <img src="{% static 'images/phone-icon.png' %}" alt="Phone Icon" class="footer-icon"> {% endcomment %}
                            <i class="fa-solid fa-phone"></i>
                            <a href="tel:6628016806" class="footer_contact_link">
                                <p class="footer_contact_text">(662) 801-6806</p>
                            </a>     
                        </div>
                    </div>
                </div>
            </div>
        <footer>
</body>
</html>