{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Way Realty</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <script src="{% static "scripts.js" %}"></script>   
</head>
<body>

    <div id="navbar_container">
        <div id="logo">
            <img id="logoIMG" src="{% static "images/RWRLogo.png" %}" alt="Logo">
        </div>
        <div id="navbar_items">
            <div class="navbar_item"><a href="#">Home</a></div>
            <div class="navbar_item"><a href="#">Properties</a></div>
            <div class="navbar_item"><a href="#">About</a></div>
            <div class="navbar_item"><a href="#">Contact</a></div>
        </div>
    </div>
    

    
    {% block content %}

    {% endblock content %}
    
    <div id="footer_container">
        <p>Footer Text</p>
    </div>
</body>
</html>