{% extends "base_template.html" %} {% load static%} {%block content%}
<div id="contact_page_container">
  <div id="contact_form_container">
    <form action="#" method="post" id="contact_us_form">
      <h2 id="contact_us_header">Contact Us</h2>
      <div id="contact_us_form_grouping">
        <div id="contact_us_form_name_group">
          <div class="contact_us_form_group">
            <label for="contact_us_first_name">First Name</label>
            <input type="text" id="contact_us_first_name" name="first_name" required />
          </div>
          <div class="contact_us_form_group">
            <label for="contact_us_last_name">Last Name</label>
            <input type="text" id="contact_us_last_name" name="contact_us_last_name" required />
          </div>
        </div>
        <div id+""
        <div class="contact_us_form_group">
          <label for="phone_number">Phone Number</label>
          <input type="text" id="contact_us_phone_numer" name="contact_us_phone_numer" required />
        </div>
        <div class="contact_us_form_group">
          <label for="contact_us_email">Email</label>
          <input type="email" id="contact_us_email" name="contact_us_email" required />
        </div>
        <div class="contact_us_form_group">
          <label for="contact_us_message">Message</label>
          <textarea id="contact_us_message" name="contact_us_message" rows="5" required></textarea>
        </div>
        <div id="contact_us_form_button_container">
          <button type="submit" id="contact_form_submit_button">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
{%endblock content%}
