{% extends "base_template.html" %}
{% load static %} {% load humanize %}
{% block content %}
<div id="home_page_container">
    <div id="home_page_banner_video">
        <img src="{% static 'images/oxford1.jpg' %}" alt="Oxford Image" id="home_page_banner_image">
        <video id = "fillV" autoplay muted loop>
            <source src="{% static 'images/videobanner.mp4' %}" type="video/mp4">
        </video>
        <div id="home_page_banner_text">
            <section id="home_page_personalized_service">
                <div class="content">
                    <p id="personalized_service_text">PERSONALIZED SERVICE</p>
                </div>
            </section>
            <section id="home_page_the_right_way">
                <div class="content">
                    <p id="the_right_way_text">The Right-Way</p>
                </div>
            </section>
        </div> 
    </div>
        <div id="home_page_properties_container">
            <h1 id="property_showcase_text">PROPERTY SHOWCASE</h1>
            <div class="property-list-wrapper">
                <div class="property-list">
                    {% with properties|slice:"7:10" as properties_slice %}
                    {% for property in properties_slice %}
                    <a href="{% url 'property_detail' property.id %}" class="home_property_info_content" id="home_property_city">
                        <div class="property">
                            {% if property.images.all %}
                            <div class="home_page_property_images">
                                {% for image in property.images.all %}
                                {% if forloop.first %}
                                    <img src="{{ image.url }}" alt="Property Image" id="home_property_image"/>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% else %}
                            <p>No images available.</p>
                            {% endif %}
                            <div class="property_info">
                                {% comment %} <div class="property_info_header">
                                    <h2>{{ property.name|default:"No name available" }}</h2>
                                </div>  {% endcomment %}
                                <div class="property_info_content">
                                    <a href="{% url 'property_detail' property.id %}" class="home_property_info_content" id="home_property_city">
                                        {{ property.house_number }} {{ property.street_name }},
                                        <br>{{ property.city }}, {{ property.state }} {{ property.postal_code }}</a>
                                    <p class="home_property_info_content" id="home_property_street"> <span class="home_info_content_labels">Beds:</span> {{ property.bedrooms}}  
                                        | <span class="home_info_content_labels">Baths:</span> {{ property.baths_info }}  
                                        |   <span class="home_info_content_labels">Price:</span> ${{ property.list_price|floatformat:0|intcomma }}</p>
                                    {% comment %} <p>{{ property.description }}</p> {% endcomment %}
                                    {% comment %} <p class="home_property_info_content" id="home_property_price">${{ property.list_price }}</p> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div id="expertise_section">
          <h1 id="our_expertise_section_header">OUR EXPERTISE</h1>
          <div class="expertise_container">
              <div class="expertise_box">
                <h2 class="expertise_box_header">Filter Near You</h2>
                <p class="expertise_box_text">See available listings in your area</p>
                <a href="" class="book_now_button">Filter Now</a>
              </div>
              <div class="expertise_box">
                <h2 class="expertise_box_header">Filter Near You</h2>
                <p class="expertise_box_text">See available listings in your area</p>
                <a href="" class="book_now_button">Filter Now</a>
              </div>
              <div class="expertise_box">
                <h2 class="expertise_box_header">Filter Near You</h2>
                <p class="expertise_box_text">See available listings in your area</p>
                <a href="" class="book_now_button">Filter Now</a>
              </div>
          </div>
      </div>

        <div id="agent_profile_section">
            <div class="agent_profile_container">
                <div class="agent_info">
                    <h1 id="home-agent-info-header">April White</h1>
                    <p class="home-agent-info-text">
                        With a passion for real estate and a deep commitment to her clients, April has built a reputation
                        for delivering exceptional service and achieving outstanding results.
                    </p>
                    <p class="home-agent-info-text">
                        April is also a licensed residential contractor, having developed the BayRidge Rentals subdivision and managing over 
                        70 rental properties. Known for her honesty, integrity, and deep knowledge of the local market, she offers 
                        expert guidance on every aspect of buying a home, from property selection to move-in and beyond.
                    </p>
                </div>
                <div class="agent_image_wrapper">
                    <div class="agent_image">
                        <img src="{% static 'April/APRIL3.jpg' %}" alt="April White">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="testimonials_container">
        <div id="testimonials_header"><p id="client-testimonials-header-text">CLIENT TESTIMONIALS</></div>
        <div id="testimonials_section">
            <div class="testimonial_item">
                <p class="testimonial_text">
                    "We have used Right-Way-Realty several times.   I highly recommend April and Terry for all your real estate needs.   
                    They go above and beyond to take care of their customers needs."
                </p>
                <p class="author">Mid-South Septic</p>
            </div>
            <div class="testimonial_item">
                <p class="testimonial_text">
                    "My husband and I purchased two investment properties, and Right-Way Realty was the company who represented us. April White was our realtor. 
                    She did an amazing job keeping us updated."
                </p>
                <p class="author">Christy P,  New Albany</p>
            </div>
            <div class="testimonial_item">
                <p class="testimonial_text">
                    “April is amazing!! When we moved to Oxford, she helped us find a rental home and later helped us find the perfect home to buy. She went above and beyond and the process went very smoothly.”
                </p>
                <p class="author">David Sullivan, Oxford</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
