{% extends "base_template.html" %}{% load static %}
{% block content %}
<div class="login_page_container">
    <center>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <label for="id_username">Username:</label>
        <p id="id_username" class="contact">{{ form.username }}</li>
        <label for="id_password1">Password:</label>
        <p id="id_password1" class="contact">{{ form.password }}</li>
      </fieldset>
     <center>
      <button id="login_button" type="submit">login</button>
    </center>
    <br/>
    <a href="{% url 'register' %}">don't have account,sign up</a>
    </form>
  </center>
</div>

{% endblock content%}