{% extends "base_template.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="property-page">
  <div id="property-page-cards-container">
    <div class="property-card">
      <div class="card">
        <!-- Main Property Image -->
        <img
          id="mainImage"
          {% if images %}
            src="{{ images.first.url }}"
          {% else %}
            src="{% static 'default_image.jpg' %}"
          {% endif %}
          class="card-img-top"
          alt="Main House Image"
        />

        <!-- Property Overview -->
        <div class="card-body">
          <h5 class="property-address">
            {{ property.house_number }} {{ property.street_name }} {{ property.street_suffix }},
            {{ property.city }}, {{ property.state }} {{ property.postal_code }}
          </h5>
          <div id="property-overview-container">
            <div class="property-status">
              <span>MLS# {{ property.mls_number }}</span> |
              <span>Property Type: {{ property.property_subtype }}</span> |
              <span>Status: {{ property.mls_status }}</span>
            </div>
            <div class="property-details-grid">
              <div class="property-detail-item">
                <h3>${{ property.list_price|floatformat:0|intcomma }}</h3>
                <span id="overview-detail-title">Price</span>
              </div>
              <div class="property-detail-item">
                <h3>{{ property.bedrooms }}</h3>
                <span id="overview-detail-title">Beds</span>
              </div>
              <div class="property-detail-item">
                <h3>{{ property.baths_total }}</h3>
                <span id="overview-detail-title">Baths</span>
              </div>
              <div class="property-detail-item">
                <h3>{{ property.building_area_total|intcomma }}</h3>
                <span id="overview-detail-title">SqFt</span>
              </div>
              <div class="property-detail-item">
                <h3>{{ property.year_built }}</h3>
                <span id="overview-detail-title">Built</span>
              </div>
              <div class="property-detail-item">
                <h3>{{ property.highschool_district }}</h3>
                <span id="overview-detail-title">Schools</span>
              </div>
            </div>
          </div>

          <!-- Property Description -->
          <div id="property-description-container">
            <div id="property-description">{{ property.description }}</div>
          </div>
        </div>
        
      <!-- Image Carousel -->
      
      <div class="carousel-card">
        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="grid-container">
                        {% if images %}
                            {% for image in images %}
                                <div class="grid-item" onclick="changeMainImage('{{ image.url }}')">
                                    <img src="{{ image.url }}" alt="House Image" />
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No additional images available.</p>
                        {% endif %}
                    </div>
                </div>
                <button class="carousel-control prev" onclick="moveCarousel(-1)">&#10094;</button>
                <button class="carousel-control next" onclick="moveCarousel(1)">&#10095;</button>
            </div>
          </div>
      </div>
    </div>
    <div class="second-card">
      
      <!-- Additional Property Details -->
      <div id="additional_property_details_container">
        <div class="card-body">
          <h3>Community:</h3>
          {% comment %} <div class="community-details-grid">
            <div class="property-detail-item" id="address-detail-item">
              <span>Address</span>
              <strong>{{ property.house_number }} {{ property.street_name }} {{ property.street_suffix }},
                {{ property.city }}, {{ property.state }} {{ property.postal_code }}</strong>
            </div>
            <div class="property-detail-item">
              <span>Area</span>
              <strong>{{ property.mls_area }}</strong>
            </div>
            <div class="property-detail-item">
              <span>City</span>
              <strong>{{ property.city }}</strong>
            </div>
            <div class="property-detail-item">
              <span>County</span>
              <strong>{{ property.county}}</strong>
            </div>
            <div class="property-detail-item">
              <span>Schools</span>
              <strong>{{ property.highschool_district }}</strong>
            </div>
            <div class="property-detail-item">
              <span>Zip</span>
              <strong>{{ property.postal_code}}</strong>

            </div>
          </div> {% endcomment %}

          <div class="community-details-grid">
            <div class="property-detail-item" id="address-detail-item">
              <h3>Address:</h3>
              <span>{{ property.house_number }} {{ property.street_name }} {{ property.street_suffix }},
                {{ property.city }}, {{ property.state }} {{ property.postal_code }}</span>
            </div>
            <div class="property-detail-item">
              <h3>Area:</h3>
              <span>{{ property.mls_area }}</span>
              {% comment %} <span>Area</span> {% endcomment %}
            </div>
            <div class="property-detail-item">
              <h3>City:</h3>
              <span>{{ property.city }}</span>
              {% comment %} <span>City</span> {% endcomment %}
            </div>
            <div class="property-detail-item">
              <h3>County:</h3>
              <span>{{ property.county}}</span>
              {% comment %} <span>County</span> {% endcomment %}
            </div>
            <div class="property-detail-item">
              <h3>Neighborhood:</h3>
              <span>
                {% if property.subdivision_name != "None"  %}{{ property.subdivision_name}}{% endif %}
                {% if property.subdivision_name == "None"  %}N/A{% endif %}
              </span>
              {% comment %} <span>County</span> {% endcomment %}
            </div>
            <div class="property-detail-item">
              <h3>Schools:</h3>
              <span>{{ property.highschool_district }}</span>
              {% comment %} <span>Schools</span> {% endcomment %}
            </div>
            <div class="property-detail-item">
              <strong>Zip:</strong>
              <span>{{ property.postal_code}}</span>
              {% comment %} <span>Zip</span> {% endcomment %}
            </div>
          </div>
        </div>

        <!-- Property Features -->
        <div class="card-body">
          <h3>Property Features:</h3>
          <div class="additional-features">
            <div class="property-detail-item">
              <h3>Lot Size:</h3> 
              <span id="property-lot-detail-item">{{ property.lot_size_acres }} Acres</span>
            </div>
            <div class="property-detail-item">
              <h3>Water:</h3> 
                {% for item in property.water_source %}
                <span>{{ item }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %} 
            </div>
            <div class="property-detail-item">
              <h3>Sewer:</h3> 
              {% for item in property.sewer %}
                <span>{{ item }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %} 
            </div>
            <div class="property-detail-item">
              <h3>Zoning:</h3> 
              <span>{{ property.zoning_description }}</span>
            </div>
          </div>
        </div>

        <!-- Convenience -->
        <div class="card-body">
          <h3>Convenience Features:</h3>
          <div class="additional-features">
            <div class="property-detail-item">
              <h3>Appliances: </h3>
              {% for appliance in property.appliances%}
                <span id='appliance-item'>{{ appliance }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %}
            </div>
            <div class="property-detail-item" id="cooling-detail-item">
              <h3>Cooling: </h3>
              {% for cooling in property.cooling %}
                <span>{{ cooling }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %}
            </div>
            <div class="property-detail-item">
                <h3>Heating: </h3>
              {% for heating in property.heating %}
                <span>{{ heating }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Architecture -->
        <div class="card-body">
          <h3>Architecture:</h3>
          <div class="additional-features">
            <div class="property-detail-item">
              <h3>Bedrooms:</h3> 
              {{ property.bedrooms }}
            </div>
            <div class="property-detail-item">
              <h3>Bathrooms:</h3> 
              {{ property.baths_total }}
            </div>
            <div class="property-detail-item">
              <h3>Year Built:</h3> 
              {{ property.year_built }}
            </div>
            <div class="property-detail-item">
              <h3>Exterior:</h3> 
              <span>{{ property.construction_materials|join:", " }}</span>
            </div>
            <div class="property-detail-item">
              <h3>Roof:</h3>
              {% for item in property.roof  %}
                <span>{{ item }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %}      
            </div>
            <div class="property-detail-item">
              <h3>Foundation:</h3> 
              {% for item in property.foundation_details %}
                <span>{{ item }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %} 
            </div>
            <div class="property-detail-item">
              <h3>Garage / Carport:</h3> 
              <span>{{ property.garage_spaces }} car garage</span>
            </div>
          </div>
        </div>


      <!-- Interior Features -->
        
        <div class="card-body">
          <h3>Interior Features:</h3>
          <div class="additional-features">
            <div class="property-detail-item">
              <h3>Flooring:</h3> 
                {% for item in property.flooring %}
                <span>{{ item }}{% if not forloop.last %},</span>{% endif %}
              {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </div>

      <div id="additional_property_details_container">
        <div class="mortgage-calculator">
          <h5>Mortgage Calculator</h5>
          <form id="mortgage-form">
              <div class="form-group">
                  <label for="loanAmount">Loan Amount ($):</label>
                  <input type="number" id="loanAmount" placeholder="Enter loan amount" required>
              </div>
              <div class="form-group">
                  <label for="downPaymentPercentage">Down Payment (%):</label>
                  <input type="number" id="downPaymentPercentage" placeholder="Enter down payment percentage" step="0.01" required>
              </div>
              <div class="form-group">
                  <label for="interestRate">Interest Rate (%):</label>
                  <input type="number" id="interestRate" placeholder="Enter interest rate" step="0.01" required>
              </div>
              <div class="form-group">
                  <label for="loanTerm">Loan Term (years):</label>
                  <input type="number" id="loanTerm" placeholder="Enter loan term" required>
              </div>
              <button type="submit">Calculate</button>
          </form>
          <div id="monthlyPayment" class="result"></div>
      </div>
    </div>

  </div>
</div>

<script>
  function changeMainImage(imageUrl) {
    document.getElementById("mainImage").src = imageUrl;
  }
</script>

{% endblock content %}
