{% extends "base_template.html" %}

{% block content %}

<h1 id="rental-header">Available Rentals</h1>
<button id="rental_filter_button" type="button" onclick="toggleForm()">Show Filters</button>
<div class="rental_search" id="searchForm" style="display: none;">
    <form method="get" action="{% url 'rental_list' %}">
        <label for="min_price">Min Price:</label>
        <input type="number" name="min_price" id="min_price" value="{{ request.GET.min_price }}">
    
        <label for="max_price">Max Price:</label>
        <input type="number" name="max_price" id="max_price" value="{{ request.GET.max_price }}">
    
        <label for="min_beds">Min Beds:</label>
        <input type="number" name="min_beds" id="min_beds" value="{{ request.GET.min_beds }}">
    
        <label for="min_baths">Min Baths:</label>
        <input type="number" name="min_baths" id="min_baths" value="{{ request.GET.min_baths }}">
    
        <label for="fenced_yard">Fenced Yard:</label>
        <select name="fenced_yard" id="fenced_yard">
            <option value="">Any</option>
            <option value="Yes" {% if request.GET.fenced_yard == "Yes" %}selected{% endif %}>Yes</option>
            <option value="No" {% if request.GET.fenced_yard == "No" %}selected{% endif %}>No</option>
        </select>
    
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" value="{{ request.GET.location }}">
    
        <button type="submit">Search</button>
    </form>
</div>

</script>
<div class="rental-container">
    {% for rental in rentals %}
        <div class="rental-card">
            <div class="rental-image-carousel-container">
                {% if rental.images.all %}
                    <div class="rental-image-carousel" id="carousel-{{ forloop.counter0 }}" data-current-slide="0">
                        {% for image in rental.images.all %}
                            <img src="{{ image.image.url }}" alt="Image of {{ rental.street_name }}" class="rental-image" style="{% if forloop.first %}display: block;{% else %}display: none;{% endif %}">
                        {% endfor %}
                    </div>
                    <!-- Carousel navigation buttons -->
                    <button class="carousel-prev" onclick="moveSlide({{ forloop.counter0 }}, -1)">&#10094;</button>
                    <button class="carousel-next" onclick="moveSlide({{ forloop.counter0 }}, 1)">&#10095;</button>
                {% else %}
                    <p>No images available for this rental.</p>
                {% endif %}
            </div>
            <div class="rental-info">
                <strong id="rental-location">{{ rental.street_name }}, {{ rental.city }}, {{ rental.state }} {{ rental.postal_code }}</strong><br>
                <p><span class="rental-label">Price:</span> ${{ rental.rental_price }}</p>
                <p><span class="rental-label">Bedrooms:</span> {{ rental.bedrooms }}</p>
                <p><span class="rental-label">Baths:</span> {{ rental.baths }}</p>
                <p><span class="rental-label">Available from:</span> {{ rental.available_from }}</p>
                <p><span class="rental-label">School:</span> {{ rental.school }}</p>
                <p><span class="rental-label">Fenced Yard:</span> {{ rental.fenced_yard|yesno:"Yes,No" }}</p>
            </div>
        </div>
    {% empty %}
        <p>No rentals available at this time.</p>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if rentals.has_previous %}
            <a href="?page=1">&laquo; &laquo;</a>
            <a href="?page={{ rentals.previous_page_number }}"&laquo;</a>
        {% endif %}

        <span class="current">
            Page {{ rentals.number }} of {{ rentals.paginator.num_pages }}
        </span>

        {% if rentals.has_next %}
            <a href="?page={{ rentals.next_page_number }}">&raquo;</a>
            <a href="?page={{ rentals.paginator.num_pages }}">&raquo; &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
    function moveSlide(carouselIndex, step) {
        const carousel = document.getElementById(`carousel-${carouselIndex}`);
        const images = carousel.getElementsByClassName('rental-image');
        let currentSlide = parseInt(carousel.getAttribute('data-current-slide'));
    
        // Hide the current image
        images[currentSlide].style.opacity = '0';
        images[currentSlide].style.zIndex = '0';
        images[currentSlide].style.display = 'none';
    
        // loop if needed
        currentSlide = (currentSlide + step + images.length) % images.length;
    
        // Show current image
        images[currentSlide].style.opacity = '1';
        images[currentSlide].style.zIndex = '10';
        images[currentSlide].style.display = 'block';
    
        // Update the current slide on the carousel container
        carousel.setAttribute('data-current-slide', currentSlide);
    
    }
</script>
    
    
    
{% endblock %}
