{% extends "base_template.html" %}

{% block content %}

<h1 id="rental-header">Available Rentals</h1>
<div class="rental-container">
    {% for rental in rentals %}
        <div class="rental-card">
            <div class="rental-image-carousel-container">
                <!-- Display rental images as a carousel -->
                {% if rental.images.all %}
                    <div class="rental-image-carousel" id="carousel-{{ forloop.counter0 }}">
                        {% for image in rental.images.all %}
                            <img src="{{ image.image.url }}" alt="Image of {{ rental.street_name }}" class="rental-image">
                        {% endfor %}
                    </div>
                    <!-- Navigation buttons -->
                    <button class="carousel-prev" onclick="moveSlide({{ forloop.counter0 }}, -1)">&#10094;</button>
                    <button class="carousel-next" onclick="moveSlide({{ forloop.counter0 }}, 1)">&#10095;</button>
                {% else %}
                    <p>No images available for this rental.</p>
                {% endif %}
            </div>
            <div class="rental-info">
                <strong>{{ rental.street_name }}, {{ rental.city }}, {{ rental.state }} {{ rental.postal_code }}</strong><br>
                <p><span class="rental-label">Price:</span> ${{ rental.rental_price }}</p>
                <p><span class="rental-label">Bedrooms:</span> {{ rental.bedrooms }}</p>
                <p><span class="rental-label">Baths:</span> {{ rental.baths }}</p>
                <p><span class="rental-label">Available from:</span> {{ rental.available_from }}</p>
                <p><span class="rental-label">School:</span> {{ rental.school }}</p>
                <p><span class="rental-label">Fenced Yard:</span> {{ rental.fenced_yard|yesno:"Yes,No" }}</p>
            </div>
        </div>
    {% empty %}
        <p>No rentals available at this time.</p>
    {% endfor %}
</div>
{% endblock %}
